*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  padding: 20px 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}  
.brand 
{
  display: flex;
  align-items: center;
}
.brand .logo
{
  width: 100px;
  height: auto;
}

#banner
{
  background: url(image/cookies.gif) no-repeat;
  background-size: cover;
  background-position: center; 
  height: 100vh; 
}

.banner-text .meow {
  position: absolute;
  align-items: center;
  padding-top: -200px;
  margin-top: -23px;
  width: 50px;
  height: 50px;
  top: 67.5%;
}

.banner-text
{
  text-align: center;
  color: black;
  padding-top: 180px;
}
.banner-text h1
{
  font-size: 130px;
  font-family: 'Abril Fatface', serif;
}
.banner-text p
{
  font-size: 20px;
  font-style: italic;
}

.banner-btn {
  text-align: center;
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-btn a
{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: black;
  border: 3px solid black;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  position: relative;
  z-index: 1; 
  transition: color 0.5s;
}
.banner-btn a i
{
  position: relative;
  size: 50px;
  top: 3px; 
}
.banner-btn a span
{
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fa99c3;
  border-radius: 20px;
  z-index: -1;
  transition: color 0.5s;
}
.banner-btn a:hover span
{
  width: 100%;
 
}
.banner-btn a:hover
{
  color: #000;
}


#sideNav
{
  width: 240px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #FCB8D8;
  z-index: 2;
  transition: right 0.5s;
  border: 2px solid black;
  border-radius: 10px;
}
nav ul li
{
  list-style: none;
  margin: 50px 20px;
}
nav ul li a
{
  text-decoration: none;
  color: #000;
}
  
nav ul li b{
  text-decoration: none;
  color: #000;
  height: 300px;
  font-size: larger;
  font-family: 'Roboto Mono', monospace;
  margin-right: 10px;
}

nav ul li:hover a {
  background: white;
  color: #f099c3;
  padding: 10px 20px; 
  border-radius: 20px; 
}

nav ul li .icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 8%;
}

#menuBtn
{
  width: 50px;
  height: 50px;
  background: #FCB8D8;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}
#menuBtn i img
{
  width: 35px;
  font-size: 35px;
  margin-top: 10px;
}


@media screen and (max-width: 770px) 
{
  .banner-text h1
  {
    font-size: 44px;
  }
  .banner-btn a
  {
     display: block;
     margin: 20px auto;
  }
}

/*--about--*/

#about
{
  width: 100%;
  padding: 80px 0;
  background-color: #f099c3;
  background-size: cover;
  transition: all;
}

#about h3{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  -webkit-text-stroke: 0.0010px;
  -webkit-text-stroke-color:#f7207d;
  -webkit-text-fill-color: #000;
}

#about p{
  font-size: 20px;
  text-indent: 5px;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color:#070707;
}

.title-text
{
  text-align: center;
  padding-bottom: 50px;
}

.title-text a
{
  margin: auto;
  font-size: 20px;
  color: white;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text a::after
{
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(#D02A72,#000);
  position: absolute;
  top: -10px;
  left: 0;
  z-index: -5;
  transform: rotate(-30deg);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

}

.title-text h1
{
  font-size: 50px;
  align-items: center;
  font-family: 'Pacifico', cursive;
  
}

.about-box
{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.about
{
  flex-basis: 50%;
  text-align: center;
  align-items: center;
}

.about-img
{
  flex-basis: 50px;
  margin: auto;
}

.about-img img 
{
  width: 350px;
  border-radius: 20%;
  border: 2px solid black;
}

.about h3
{
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: 'Arvo', serif;
}

.about-desc
{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.about-text 
{
  padding: 0 10px;
  text-align: initial;
  color: #000;
  font-weight: 100;
  font-family: 'Play', sans-serif;
}


/*--gallery--*/

#Gallery {
  width: 100%;
  padding: 50px 0;
  background-color: #ffd3e8;
  background-size: cover;
  transition: all;
}

.Gallery-img {
  display: flex;
  justify-content: space-between (3px);
  justify-content: center;
}

.Gallery-img img {
  width: 450px;
  border-radius: 50px;
  border: 2px solid black;
  margin: 15px;
  flex-shrink: 0;
}

/*--services--*/

#Services
{
  width: 100%;
  padding: 50px 0;
  background-color: #f099c3;
  background-size: cover;
  transition: all;
}

#Services h3
{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-bottom: 25px;
  left: 0;
  text-align: center;
  -webkit-text-stroke: 0.0010px;
  -webkit-text-stroke-color:#f7207d;
  -webkit-text-fill-color: #000;
}

#Services p
{
  font-size: 20px;
  margin: 30px;
  left: 0;
  text-align: center;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color:#070707;
}

/*--contact--*/

#Contact
{
  width: 100%;
  padding: 80px 0;
  background-color: #ffd3e8;
  background-size: cover;
  transition: all;
}

#Contact h3
{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  text-align: center;
  text-indent: 5px;
  margin: 10px;
  -webkit-text-stroke: 0.0010px;
  -webkit-text-stroke-color:#f7207d;
  -webkit-text-fill-color: #000;
}

#Contact p
{
  font-size: 20px;
}