@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('abstract\ light.jpg') no-repeat;
    background-size: cover;
    background-position: center;	
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    padding: 20px 50px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }  

.brand {
    display: flex;
    align-items: center;
}

.brand .MiuMiu{
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.brand .logo {
    width: 60px;
    height: auto;
}

.wrapper{
    width: 420px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
	font-size: 36px;
	text-align: center;
}

.wrapper .input-box{
	position: relative;
	width: 83.5%;
	height: 50px;
	margin: 30px 0;
}

.input-box input{
	width: 100%;
	height: 10%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(69, 69, 69, 0.2);
	border-radius: 40px;
	font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
	color: #000000;
}

.input-box i{
	position: absolute;
	right: -50px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: rgb(196, 105, 145);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:  #000000;
    font-weight: 600;
}

.wrapper .register-link{
    font-size:  14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: rgb(237, 92, 138);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;

}